.img-content:hover{
    cursor: pointer;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
}
.web:hover{
    cursor: pointer;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
    background-color: #000;
    color: #fff;
}
footer:hover{
    cursor: pointer;
}
.formcontainer{
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px;
    background-color: rgb(228, 247, 255);
}
.formcontainer input{
    border: 2px solid black;
}
.formcontainer select{
    border: 2px solid black;
}
.formcontainer textarea{
    border: 2px solid black;
}
.formcontainer label{
    font-weight: bold;
}








@media only screen and (min-width: 576px) and (max-width: 1023px){
    .heading-content h1{
        margin-top: 50px;
    }
    footer{
        text-align: center;
    }
    footer ul{
        padding-top: 15px;
    }
}